@font-face {
	font-family: 'BasicaUnicodeRegular';
	src: url('../fonts/Bsica-Unicode.eot');
	src: url('../fonts/Bsica-Unicode.ttf') format('truetype'),
	     url('../fonts/Bsica-Unicode.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Bsica-Unicode.woff') format('woff'),
	     url('../fonts/Bsica-Unicode.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceCodeRoman-ExtraLight';
	src: url('../fonts/SourceCodeRoman-ExtraLight.eot');
	src: url('../fonts/SourceCodeRoman-ExtraLight.ttf') format('truetype'),
	     url('../fonts/SourceCodeRoman-ExtraLight.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SourceCodeRoman-ExtraLight.woff') format('woff'),
	     url('../fonts/SourceCodeRoman-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
