@charset "uft-8";

@import
  "fonts",
  "normalize"
;

$font-stack: Helvetica, sans-serif;
$text-color: #e1eaf0;
$back-color: #1b1d1f;
$menu-color: #111213;
$list-color: #929292;
$ruler-color: white;
$block-color: #ffcc00;
$link-color: #ffcc00;
$link-hov-color: #ffeb9b;
$code-font: "SourceCodeRoman-ExtraLight", Terminal, monospace;
$code-color: #54c720;
$code-color-back: #000000;
$title-font: "BasicaUnicodeRegular", Arial, sans-serif;

.wrapper {
  max-width:900px;
  margin:0 auto;
  position:relative;
  padding: 80px 10px 30px 20px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 100px 10px 30px 20px;
  }
}

.header {
  display: inline-grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  z-index:1;
  width: 100%;
  top: 0;
  position:fixed;
  padding: 0 20px 0 20px;
  background-color: $menu-color;
}

.logo-header {
  position: relative;
  text-align: left;
  padding: 10px;
}

.nav {
  position: relative;
  margin: 0 20px;
  padding: 20px 10px;
}

.title {
  font-family: $title-font;
  font-size: 48px;
  text-align: center;
  margin: 5%;
}

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $back-color;
}

a {
  color:$link-color;
  font-size:16px;
  padding: 0 3px;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: $link-hov-color;
  }
}

pre,
code {
  font-family: $code-font;
  color: $code-color;
  background-color: $code-color-back;
  font-size:16px;
  overflow-x: auto;
  margin: 6px;
  padding: 4px 6px;
  border-radius: 10px;
}

blockquote {
  border-left:3px solid $block-color;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:center;
  padding:3px 0px;
  border-bottom:1px solid $ruler-color;
  color: $ruler-color;
  font-family: $font-stack;
  font-weight: normal;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid $list-color;
}

hr {
  border: 0;
  outline: none;
  height: 1px; 
  background: $ruler-color;
  margin: 0 0 20px;
}

dt {
  color: $list-color;
  font-family: $font-stack;
  font-weight: normal;
}
